<table style="width: 100%; text-align: center; border-collapse: collapse;">
    <thead>
        <tr>
            <th colspan="2" style="padding: 5px; text-align: center; font-size: 20px; background-color: #446182; color: white;">
                <header>
                    <nav>
                        <a href="{% url 'index' %}" style="text-decoration: none; color: white;">Planejamento Semanal</a>
                    </nav>
                </header>
            </th>
        </tr>
    </thead>
    
</table>
